<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{generico/layout}">
<head>
    <title>Panel Aplicativo</title>
</head>
<body class="dashboard-font-size-body">

<div layout:fragment="content" th:remove="tag">
	<br><br>
	<div>
		
		<div class="col-md-4 offset-md-4" style="text-align: center;">
			<h1 class="text-danger">Acceso Denegado</h1>
			<br>
			<img th:src="@{/img/gif/giphy.gif}" style="width: 100%"/>
		</div>
		
		
		
		
      	
	</div>
	
    
</div>
</body>
</html>